body{
    background-image:url(../Media/bg.png);
    background-size:cover;
    background-attachment:fixed;
    /*background-color:#fff;*/
}
a{
    cursor:pointer;
}
.course{
    color:#3498db;
    text-decoration-line:none;
}
.course:hover{
    color:#005c97;
    text-decoration-line:underline;
}
.link{
    color:#bfbfbf;
    text-decoration-line:none;
}
.link:hover{
    color:#fff;
}
.div{
    width:calc(100vw - 30px);
    background-color:rgba(255,255,255,0.7);
    border-radius:20px;
    padding-left:10px;
}
.div:hover{
    box-shadow:5px 5px 20px rgba(0,0,0,0.9);
}
.top{
    width:calc(100vw - 20px);
    height:110px;
    background-color:#00469b;
    position:absolute;
    top:0px;
    left:0px;
    padding-top:20px;
    padding-left:20px;
}
nav{
    position:absolute;
    top:30px;
    left:250px;
    overflow:hidden;
}
nav ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
    display:flex;
}
nav ul li{
    position:relative;
}
nav ul li a{
    display:block;
    color:#fff;
    text-align:center;
    padding:14px 20px;
    text-decoration:none;
    border-radius:10px;
}
nav ul li a:hover{
    background-color:#acbfe4;
    color:#000;
}
.dropdown-content{
    display:none;
    position:relative;
    background-color:#7296e4;
    border-radius:10px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}
.dropdown-content a{
    color:#fff;
    max-width:calc(100%);
    padding:12px 16px;
    text-decoration:none;
    display:block;
    text-align:left;
}
.dropdown-content a:hover{
    background-color:#acbfe4;
    color:#000;
    display:inline-block;
}
.dropdown:hover .dropdown-content{
    display:block;
}
.text_wrap{
    background-color:#fbf4e2;
    color:red;
    width:calc(100vw - 20px);
    height:50px;
    border-radius:50px;
    line-height:50px;
    position:absolute;
    top:105px;
    left:10px;
}
.tips{
    position:absolute;
    top:180px;
    left:10px;
}
.news{
    position:absolute;
    left:10px;
    top:360px;
}
.input{
    position:absolute;
    top:40px;
    right:10px;
}
#searchInput{
    width:150px;
    height:30px;
    background-color:#acbfe4;
    border:none;
    border-radius:5px;
}
#searchInput:hover{
    background-color:#fff;
}
#inputButton{
    width:50px;
    height:30px;
    background-color:#acbfe4;
    color:#000;
    border:none;
    border-radius:5px;
}
#inputButton:hover{
    background-color:#fff;
    color:#000;
}
#inputButton:active{
    background-color:#00469b;
    color:#fff;
}
.bottom{
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,1));
    width:calc(100vw - 100px);
    height:200px;
    position:absolute;
    bottom:0px;
    left:0px;
    padding-left:100px;
}